[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Lib/php-github-api"]
	path = Lib/php-github-api
	url = git@github.com:KnpLabs/php-github-api.git
